<h2>Explore Collections at IU Campuses</h2>
<div>
  <div class="row">
  <% CampusService.campuses.each_with_index do |campus, index| %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
      <div class="campus">
        <div class="text-center">
          <h3 class="campus_header"><%= campus.term %></h3>
        </div>
        <div>
          <%= image_tag campus.img_src, class: 'campus_image', alt: campus.img_alt %>
        </div>
        <div class="text-center campus_footer">
          <a class="button campus_link"
             href="<%= main_app.search_catalog_path(f: { campus_sim: [campus.id],
                                                         human_readable_type_sim: ["Collection"] },
                                                    sort: "num_works_isi desc") %>">
            <div class="sr-only">Explore <%= campus.term %>collections</div>
            <div aria-hidden="true">Explore collections</div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
