<h1>Welcome to Digital Collections</h1>
<p>Digital Collections is a growing repository of digital image collections held at Indiana University campuses. While this service will grow to include digital images, digital objects with multiple pages, digital archival materials, and more, it is currently under development and does not yet contain all materials from legacy services offered at Indiana University Bloomington and IUPUI.</p>
<ul>
  <li>To view digital image collections, visit <a href="http://www.dlib.indiana.edu/collections/images/" target="_blank">Image Collections Online.</a></li>
  <li>To view IUPUI image collections, visit <a href="https://ulib.iupui.edu/collections" target="_blank">IUPUI University Library Digital Collections.</a></li>
  <li>To view digitized items with multiple pages, visit <a href="https://pages.dlib.indiana.edu/" target="_blank">Pages Online.</a></li>
  <li>To view digitized archival materials, visit <a href="http://www.dlib.indiana.edu/collections/findingaids" target="_blank">Legacy Archives Online.</a></li>
  <li>To view additional IUPUI collections, visit <a href="https://www.ulib.iupui.edu/special" target="_blank">Ruth Lilly Special Collections & Archives.</a></li>
</ul>
