---
http_interactions:
- request:
    method: get
    uri: https://iucat.iu.edu/api/library/B-WELLS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d23b89ec048d580884ee99156a6b807a"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"library":{"id":1,"code":"B-WELLS","label":"Bloomington
        - Herman B Wells Library","address":"1320 E 10th St.","address2":"","city":"Bloomington","state":"IN","zip":"47405","phone":"(812)
        855-0100","email":"libref@indiana.edu","url":"https://libraries.indiana.edu/wells","urlHours":"https://libraries.indiana.edu/wells/hours","latitude":"39.17098","longitude":"-86.51689","parking":"https://parking.indiana.edu/","notes":"","no_display":null,"created_at":"2018-12-11T21:47:17.000Z","updated_at":"2019-07-28T12:25:45.000Z"},"hours":null,"today":{},"exceptions":[],"floors":[{"id":208,"library_code":"B-WELLS","location":"_ALFBRAD
        ","email":"","email_request":false,"description":"Blmgtn - Herman B Wells
        Library - IU Libraries Moving Image Archive - Bradley Film Collection","call_number_range":"","call_number_start":"","call_number_end":"","floor":"Ground
        Floor, West Tower","notes":"","created_at":"2019-01-09T21:36:49.000Z","updated_at":"2019-01-11T15:10:39.000Z"},{"id":209,"library_code":"B-WELLS","location":"_ALFEDFILM
        ","email":"","email_request":false,"description":"Blmgtn - Herman B Wells
        Library - IU Libraries Moving Image Archive - Educational Film Coll.","call_number_range":"","call_number_start":"","call_number_end":"","floor":"Ground
        Floor, West Tower","notes":"","created_at":"2019-01-09T21:36:49.[...]
- request:
    method: get
    uri: https://iucat.iu.edu/api/library/all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d4cd70da410a568466c87d9a93b7eae9"
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"data":{"libraries":[{"id":41,"code":"B-AAAMC","label":"Bloomington
        - Archives of African American Music \u0026 Culture","address":"2805 E 10th
        St., Suite 180-181","address2":"1320 E 10th St.","city":"Bloomington","state":"IN","zip":"47408","phone":"8812-855-8547","email":"aaamc@indiana.edu","url":"https://aaamc.indiana.edu/","urlHours":"","latitude":"39.173407","longitude":"-86.499948","parking":"https://parking.indiana.edu/","notes":"","no_display":true,"created_at":"2018-12-11T21:47:17.000Z","upd[...]
- request:
    method: get
    uri: https://iucat.iu.edu/api/library/foobar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f822189a6e50734dd3d0039674150ddd"
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"data":"error"}'
  recorded_at: Thu, 12 Aug 2021 17:41:35 GMT
recorded_with: VCR 6.0.0
