<div class="row hyc-banner-row">
  <div class="col-md-12">

    <% unless @presenter.banner_file.blank? %>
      <header class="hyc-banner" style="background-image:url(<%= @presenter.banner_file %>)">
    <% else %>
      <header class="hyc-generic">
    <% end %>

    <div class="col-md-6">
      <div class="hyc-title">
        <h1><%= @presenter.title.first %></h1>
        <%# @presenter.collection_type_badge %>
        <%# @presenter.permission_badge %>
        <% if @presenter.description.any? %>
          <p><%= @presenter.description.first %></p>
        <% end %>
        <%= render 'hyrax/collections/collection_logo', collection_presenter: @presenter %>
      </div>
    </div>

    <%# render 'collection_bugs', collection_presenter: @presenter %>

    </header>
    </header>
  </div>
</div>
