/* Adjustments to the IU Brand */

#branding-bar {
    position: relative;
}

#branding-bar:after {
    height: 15px;
    bottom: -15px;
    background-color: #3c3c3c;
}

/*ESSI specify*/
/*override root element font-size, so rem can get the right size*/
html {
    font-size: 16px !important;
}

#footer {
    color: #777777;
    margin-bottom: 1em;
}

.application-margin {
    margin-top: 4em
}

/*Campus Logo*/
.campus-logo {
  font-size: 1.6em;
  color: #fff;
  margin: 0px;
  padding: 12px 5px;
}
.campus-logo a:link{
  text-decoration: none;
  color: #fff;
}
.campus-logo a:hover{
  color: #fff;
}

/*Collection Banner*/
.extended-banner-linked .hyc-logos-link:hover{
  background-color: rgba(0,0,0,0.5);
}

.extended-banner-title-linked a{
  color: #dcdcdc;
}

.extended-banner-title-linked a:hover{
  color: #fff;
  text-decoration: none;
}

/* Three column lockups bottom nav */
.bottom-nav .lockup {
    height: auto;
    max-height: 3rem;
    max-width: 100%;
    border: 0;
}

.bottom-nav .thirds {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grid.thirds .grid-item {
    width: 33.3%;
    max-width: 33.3%;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}

@media (max-width: 800px) {
    .bottom-nav .grid.thirds .grid-item {
        width: 100%;
        max-width: 100%;
    }
}
