<% if @presenter.respond_to?(:campus_logo) && @presenter.campus_logo %>
<div class="bg-darkGray campus-logo" >
  <div class="container-fluid">
    <span>
      <%= @presenter.campus_logo %>
    </span>
  </div>
</div>
<% end %>
